<section class="col-sm-9">
  <div class="row">
    <h2 class="col text-center" id="editUserHeader">Edit User</h2>
  </div>
  <form class="form user-form" id="userForm">
    <div class="row">
      <div class="col text-end" id="nameLabel">Name:</div>
      <input class="col form-control" type="text" id="name-user" value="{{name}}"/>
    </div>
    <div class="row">
      <div class="col text-end" id="emailLabel">Email:</div>
      <input class="col form-control" type="email" id="email-user" value="{{email}}"/>
    </div>
    <div class="row">
      <div class="col text-end" id="passwordLabel">New Password:</div>
      <input class="col form-control" type="password" id="password-user" value=""/>
    </div>
    <div class="row">
      <div class="col text-end" id="confirmLabel">Confirm New Password:</div>
      <input class="col form-control" type="password" id="password-confirm" value=""/>
    </div>
    <div class="row">
      <div class="col text-end" id="activeLabel">Active:</div>
      <div class="col text-start">
        <input type="checkbox" id="active" {{#if active}} checked {{/if}}/>
      </div>
    </div>
    {{#if (isAdministrator user_role)}}
    <div class="row">
      <div class="col text-end" id="roleLabel">Role:</div>
      <div class="col text-start">
        <select name="role" id="role">
          {{#each roles as |role|}}
          <option value="{{role.id}}" {{#if (isRole role.name user_role)}} selected {{/if}}>{{role.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    {{/if}}
    <div class="row">
      <input type="hidden" id="user_id" value="{{id}}"/>
      <button class="mx-auto col-auto btn btn-primary" type="submit" id="updateUser">Update User</button>
    </div>
  </form>
</section>
<script src="/js/user.js"></script>