<!-- Main content section -->
<article class="col-sm-9 animate__animated" id="searchResults">
    <div class="row">
        {{#each rooms as |room|}}
        <div class="card col-md-6 col-lg-4 resultCard" id="{{room.id}}_room">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {{#if room.pictures}}
                        <img src="data:{{room.pictures.[0].type}};base64{{room.pictures.[0].data}}" class="card-img"
                            alt="/imgs/sampleSpace.jpg">
                        {{/if}}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="{{room.id}}_cardTitle"><a href="/reservations/room/{{room.id}}"
                                    class="reserve-link" id="reserveLink">{{room.name}}</a></h5>
                            <p class="card-text" id="{{room.id}}_cardDescription">{{room.description}}</p>
                            <p class="card-text"><small class="text-muted">
                                    <a href="/reservations/room/{{room.id}}" class="reserve-link"
                                        id="reserveLink">Reserve Room</a>
                                </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</article>